/* navbar */
.navbar {
  position: fixed; /* ติดบน */
  top: 0;
  left: 0;
  width: 25%;
  padding: 12px 24px;
  display: flex;
  gap: 20px;
  z-index: 100;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

/* ให้เนื้อหาห่างจาก navbar */
.content {
  margin-top: 70px; /* ความสูง navbar + ระยะห่าง */
  padding: 20px;
}

div p {
  color: rgb(255, 0, 0);
  font-size: 100px;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  left: 5%;
  top: 2%;
}
